@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Fira+Code:wght@400;500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(244, 20%, 8%);
  color-scheme: dark;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
